<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>更多推荐</title>
        <link rel="stylesheet" href="./board.css" />
        <script src="../js/jquery.js"></script>
        <script src="./board.js" async></script>
    </head>

    <body>
        <div class="tips">
            <span class="action">试验功能：</span>
            <input
                class="password"
                id="password"
                type="text"
                placeholder="输入密码后访问"
            />
            <button class="btn" id="openDor">芝麻开门</button>
            <span class="info">提示: 部分网站可能需要VPN翻墙后访问</span>
        </div>
        <div class="contentBox" id="contentBox">
            <div class="hidden tabBox" id="hidden">
                <h3 class="tabTitle">隐藏功能</h3>
                <div class="aBox">
                    <a
                        href="https://www.baidu.com/"
                        class="alink"
                        target="_blank"
                        >百度一下</a
                    >
                    <a
                        href="https://fanyi.baidu.com/"
                        class="alink"
                        target="_blank"
                        >淘宝搜索淘宝搜索淘宝搜索淘宝搜索</a
                    >
                    <a
                        href="https://www.csdn.net/"
                        class="alink"
                        target="_blank"
                        >淘宝搜索淘宝搜索淘宝搜索淘宝搜索</a
                    >
                    <a
                        href="https://fanyi.baidu.com/"
                        class="alink"
                        target="_blank"
                        >淘宝搜索淘宝搜索淘宝搜索淘宝搜索</a
                    >
                    <a
                        href="https://fanyi.baidu.com/"
                        class="alink"
                        target="_blank"
                        >淘宝搜索淘宝搜索淘宝搜索淘宝搜索</a
                    >
                    <a
                        href="https://fanyi.baidu.com/"
                        class="alink"
                        target="_blank"
                        >淘宝搜索淘宝搜索淘宝搜索淘宝搜索</a
                    >
                    <a
                        href="https://fanyi.baidu.com/"
                        class="alink"
                        target="_blank"
                        >淘宝搜索淘宝搜索淘宝搜索淘宝搜索</a
                    >
                    <a
                        href="https://fanyi.baidu.com/"
                        class="alink"
                        target="_blank"
                        >淘宝搜索</a
                    >
                    <a
                        href="https://fanyi.baidu.com/"
                        class="alink"
                        target="_blank"
                        >淘宝搜索</a
                    >
                    <a
                        href="https://fanyi.baidu.com/"
                        class="alink"
                        target="_blank"
                        >淘宝搜索</a
                    >
                    <a
                        href="https://fanyi.baidu.com/"
                        class="alink"
                        target="_blank"
                        >淘宝搜索</a
                    >
                    <a
                        href="https://fanyi.baidu.com/"
                        class="alink"
                        target="_blank"
                        >淘宝搜索</a
                    >
                </div>
            </div>
            <div class="tabBox">
                <h3 class="tabTitle">热门推荐</h3>
                <div class="aBox">
                    <a
                        href="https://www.baidu.com/"
                        class="alink"
                        target="_blank"
                        >百度一下</a
                    >
                    <a
                        href="https://fanyi.baidu.com/"
                        class="alink"
                        target="_blank"
                        >淘宝搜索</a
                    >
                    <a
                        href="https://www.csdn.net/"
                        class="alink"
                        target="_blank"
                        >淘宝搜索</a
                    >
                    <a
                        href="https://fanyi.baidu.com/"
                        class="alink"
                        target="_blank"
                        >淘宝搜索</a
                    >
                    <a
                        href="https://fanyi.baidu.com/"
                        class="alink"
                        target="_blank"
                        >淘宝搜索</a
                    >
                    <a
                        href="https://fanyi.baidu.com/"
                        class="alink"
                        target="_blank"
                        >淘宝搜索</a
                    >
                    <a
                        href="https://fanyi.baidu.com/"
                        class="alink"
                        target="_blank"
                        >淘宝搜索</a
                    >
                    <a
                        href="https://fanyi.baidu.com/"
                        class="alink"
                        target="_blank"
                        >淘宝搜索</a
                    >
                    <a
                        href="https://fanyi.baidu.com/"
                        class="alink"
                        target="_blank"
                        >淘宝搜索</a
                    >
                    <a
                        href="https://fanyi.baidu.com/"
                        class="alink"
                        target="_blank"
                        >淘宝搜索</a
                    >
                    <a
                        href="https://fanyi.baidu.com/"
                        class="alink"
                        target="_blank"
                        >淘宝搜索</a
                    >
                    <a
                        href="https://fanyi.baidu.com/"
                        class="alink"
                        target="_blank"
                        >淘宝搜索</a
                    >
                </div>
            </div>
        </div>
    </body>
</html>
