<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>更多推荐</title>
  <link rel="stylesheet" href="./board.css">
</head>

<body>
  <div class="tips">提示: 部分网站可能需要VPN翻墙后访问</div>
  <div class="tabBox">
    <h3 class="tabTitle">热门推荐</h3>
    <div class="aBox">
      <a href="https://www.baidu.com/" class="alink" target="_blank">百度一下</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://www.csdn.net/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
    </div>
  </div>
  <div class="tabBox">
    <h3 class="tabTitle">热门推荐</h3>
    <div class="aBox">
      <a href="https://www.baidu.com/" class="alink" target="_blank">百度一下</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://www.csdn.net/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
    </div>
  </div>
  <div class="tabBox">
    <h3 class="tabTitle">热门推荐</h3>
    <div class="aBox">
      <a href="https://www.baidu.com/" class="alink" target="_blank">百度一下</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://www.csdn.net/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
    </div>
  </div>
  <div class="tabBox">
    <h3 class="tabTitle">热门推荐</h3>
    <div class="aBox">
      <a href="https://www.baidu.com/" class="alink" target="_blank">百度一下</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://www.csdn.net/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
    </div>
  </div>
  <div class="tabBox">
    <h3 class="tabTitle">热门推荐</h3>
    <div class="aBox">
      <a href="https://www.baidu.com/" class="alink" target="_blank">百度一下</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://www.csdn.net/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
    </div>
  </div>
  <div class="tabBox">
    <h3 class="tabTitle">热门推荐</h3>
    <div class="aBox">
      <a href="https://www.baidu.com/" class="alink" target="_blank">百度一下</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://www.csdn.net/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
    </div>
  </div>
  <div class="tabBox">
    <h3 class="tabTitle">热门推荐</h3>
    <div class="aBox">
      <a href="https://www.baidu.com/" class="alink" target="_blank">百度一下</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://www.csdn.net/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
    </div>
  </div>
  <div class="tabBox">
    <h3 class="tabTitle">热门推荐</h3>
    <div class="aBox">
      <a href="https://www.baidu.com/" class="alink" target="_blank">百度一下</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://www.csdn.net/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
    </div>
  </div>
  <div class="tabBox">
    <h3 class="tabTitle">热门推荐</h3>
    <div class="aBox">
      <a href="https://www.baidu.com/" class="alink" target="_blank">百度一下</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://www.csdn.net/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
      <a href="https://fanyi.baidu.com/" class="alink" target="_blank">淘宝搜索</a>
    </div>
  </div>
</body>
</html>