<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./board.js" defer></script>
</head>

<body>
  这是设置页面
  <div class="site-cookie">
    <h3>当前站点UserAgent是:</h3>
    <span id="useragent"></span>
    <h3>当前站点Cookie是:</h3>
    <span id="cookies"></span>
  </div>
  <div>
    <button id="toggleUseragent">修改UserAgent</button>
    <button id="resetUseragent">恢复UserAgent</button>
  </div>
</body>

</html>